.contactApp{


 margin-left:200px ;
 border-left: 200px;
}

 .contactList {
 margin:50px;
 margin-left: 470px;
 
}  
h1{
  text-align: center;
  
}
.contacts{
  margin:50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contact{
  align-items: center;
  border: 1px solid gray;
  margin-left: 10px;
}
h2,p{
  text-align: center;


}
.contact button{
  margin-left: 40px;
}
.addContact{
  border: 1px solid gray;
  height: 93px;
  width: 173px;
  align-items: center;
  margin-left: 700px;
}
.addContactInput{
  align-items: center;
}
.addContact button{
  margin-left: 60px;
}
.editContact{
  border: 1px solid gray;
  height: 93px;
  width: 173px;
  align-items: center;
  margin-left: 700px;
}
.editContactInput{
  align-items: center;
}
.editContact button{
  margin-left: 60px;
}